@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #d97706;      
  --secondary-color: #fef3c7;    
  --text-color: #1f2937;        
  --danger-color: #c0392b;      
  --font-family: 'Prompt', sans-serif; 
  --border-radius: 8px;          
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0;
  background-color: #f9fafb; 
}